<div class="post-container post-color-<%=i%4 +1%>">
  <section class="post-id">
    <%= post.id %>
  </section>
  <section class="post-text">
    <%= add_post_links post %>
  </section>
  <section class="post-picture">
    <% if post.media_url %>
        <% if post.source == 'twitter' %>
            <a href=<%= 'https://twitter.com/' + post.screen_name + '/' + 'status/' + post.post_id %> target='_blank'>
        <% elsif post.source == 'instagram' %>
            <a href=<%= 'https://instagram.com/' + 'p/' + post.post_id %> target='_blank'>
        <% end %>
      <img src=<%= post.media_url %> /></a>
    <% end %>
  </section>
  <section class="post-username">
    <img src=<%= post.profile_image_url %> class="avatar" /> <%= link_to "@"+post.screen_name, "//"+post.source+".com/"+post.screen_name, target: '_blank' %>
  </section>

  <section class="web-intent">
    <% if post.post_id && post.source == 'twitter' %>
      <a href="https://twitter.com/intent/tweet?in_reply_to=<%= post.post_id %>" class= "reply"></a>
      <a href="https://twitter.com/intent/retweet?tweet_id=<%= post.post_id %>" class= "retweet"></a>
      <a href="https://twitter.com/intent/favorite?tweet_id=<%= post.post_id %>" class= "favorite"></a>
    <% end %>
  </section>

  <section class="post-created-at">
    <% unless post.post_id == nil %>
      <% if post.source == 'twitter' %>
          <a href=<%= 'https://twitter.com/' + post.screen_name + '/' + 'status/' + post.post_id %> target='_blank'>
      <% elsif post.source == 'instagram' %>
          <a href=<%= 'https://instagram.com/' + 'p/' + post.post_id %> target='_blank'>
      <% end %>
    <% end %>
    <i class="fa fa-2x fa-<%= post.source %>"></i>
    <span class="time-of-post"> <%= post.time_of_post %> </span>
    </a>
  </section>
</div>
