<a href="#hashtag-anchor" id="up" class="hashtag-title">
  <h1>#<%=ENV["HASHTAG"]%></h1>
</a>
<a id="hashtag-anchor"></a>

<div id="posts-list">
<% i = 0%>
  <% @posts.each do |post| %>

  <% i += 1%>
    <div class="post-container background-color-<%=i%>">
      <section class="post-id">
        <%= post.id %>
      </section>
      <section class="post-text">

        <%if post.source == 'twitter'%>
            <%= add_tweet_links CGI.unescapeHTML(post[:text]), post[:urls] %>
        <%else%>
        <%= CGI.unescapeHTML(post.text) %>
        <%end%>

      </section>
      <section class="post-username">
        <img src=<%= post.profile_image_url %> class="avatar" /> @<%= post.screen_name %>
      </section>
      <section class="post-picture">
        <% if post.media_url %>
          <img src=<%= post.media_url %> />
        <% end %>
      </section>
      <section class="post-created-at">
        <i class="fa fa-2x fa-<%=post.source%>"></i>
        <span class="time-of-post"> <%= raw post.time_of_post %> </span>
      </section>
    </div>
  <% i = 0 if i == 4 %>
  <% end %>
</div>

<div id="last_post_id"><%= @posts.last.id %></div>

<h1 id="loading"></h1>

<section class="footer">Made with love by <a href="https://twitter.com/scumbling">Dee</a>, <a href="http://toomanynames.com">Anirudh</a>, <a href="http://itsplatano.com">Justin</a>, and <a href="http://github.com/mlennon3">Michael</a>
</section>
