<a href="#hashtag-anchor" id="up" class="hashtag-title">
  <h1>#<%=ENV["HASHTAG"]%></h1>
</a>
<a id="hashtag-anchor"></a>

<div id="posts-list">
<% i = 0%>
  <% @posts.each do |post| %>
  <% i += 1%>
    <div class="tweet-container background-color-<%=i%>">
      <section class="tweet-text">
        <%= post.text %>
      </section>
      <section class="tweet-username">
        <img src=<%= post.profile_image_url %> class="avatar" /> @<%= post.screen_name %>
      </section>
      <section class="tweet-picture">
        <% if post.media_url %>
          <img src=<%= post.media_url %> />
        <% end %>
      </section>
      <section class="tweet-created-at">
        <%= post.created_at.strftime("%a %b %d %l:%M %p") %>
      </section>
    </div>
  <% i = 0 if i == 4 %>
  <% end %>
</div>

<div id="last_page_requested">1</div>

<h1 id="loading"></h1>

<section class="footer">Made with love by <a href="https://twitter.com/scumbling">Dee</a>, <a href="http://toomanynames.com">Anirudh</a>, <a href="http://itsplatano.com">Justin</a>, and <a href="http://github.com/mlennon3">Michael</a>
</section>