<!DOCTYPE html>
<html>
<head>
  <title><%= @settings ? @settings.header_title : "Welcome to Dashtag!"%></title>
  <%= stylesheet_link_tag    'dashtag/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dashtag/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'dashtag/favicon.ico' %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700' rel='stylesheet' type='text/css'>
</head>
	<body>
    <div href=<%= @display_title ? @settings.header_link : "#"%> id="up" class="hashtag-title">
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Settings", setting_edit_path %></li>
        <% if user_logged_in? %>
          <li><%= link_to "Log out", logout_path %></li>
        <% end %>
      </ul>

      <div id="dashtag-shoutout-header-container" class="dashtag-shoutout-colors">Powered by <a href="https://github.com/anirudh-eka/dashtag" target="_blank">Dashtag</a></div>

      <% if @display_title %>
        <h1><%=@settings.header_title%></h1>
      <% end %>
    </div>
      <% if flash[:danger] %>
        <div class="flash-danger"><%=flash[:danger]%></div>
      <% end %>
      <% if flash[:success] %>
        <div class="flash-success"><%=flash[:success]%></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="flash-notice"><%=flash[:notice]%></div>
      <% end %>
		<%= yield %>
	</body>
</html>
